.notes {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* align-items: flex-start; */
  transition: all 2s;
}

@media (max-width: 900px) {
  .notes {
    grid-template-columns: 1fr 1fr;
  }
}
